#post {
  background-color: #fff;
  box-shadow: 2px 2px 2px #999;
  display: flex;
  // height: 140px;
  width: 48vw;
  margin: 30px;
}

#post__image-wrapper {
  width: 25%;
  overflow: hidden;
}

#post__image {
  height: 100%;
  width: 100%;
}

#post__text {
  position: relative;
  margin: 1.5vh 1vw;
  width: 100%;
  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #43a4cc;
  }
  small {
    color: #999;
  }
  i {
    padding: 5px;
  }
}

#post__text-body {
  margin-top: 10px;
  overflow: hidden;
  // height: 25%;
  padding: 0px 0 30px 0;
  width: 100%;
}



#post__text-like {
  position: absolute;
  bottom: 0;
  color: #f8b3b3a6;
  transition: all 150ms ease-in-out;
  &:hover {
    cursor: pointer;
    color: #ff0000;
    transform: scale(1.1);
  }
  small {
    color: #555;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

#post__text-comment {
  position: absolute;
  bottom: 0;
  left: 40px;
  color: #65c5ee;
  transition: all 150ms ease-in-out;
  &:hover {
    cursor: pointer;
    color: #238fbd;
    transform: scale(1.1);
  }
  small {
    color: #555;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

#post__text-delete {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 0;
  font-size: 1.2rem;
  color: rgb(214, 4, 4);
  transition: all 150ms ease-in-out;
  &:hover {
    color: red;
    transform: scale(1.1);
    cursor: pointer;
  }
}
